[submodule "src/DynamixelSDK"]
	path = src/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
	branch = humble
[submodule "src/turtlebot3"]
	path = src/turtlebot3
	url = https://github.com/ROBOTIS-GIT/turtlebot3.git
	branch = humble
[submodule "src/turtlebot3_msgs"]
	path = src/turtlebot3_msgs
	url = https://github.com/ROBOTIS-GIT/turtlebot3_msgs.git
	branch = humble
[submodule "src/turtlebot3_simulations"]
	path = src/turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations.git
	branch = humble
[submodule "m-explore-ros2"]
	path = m-explore-ros2
	url = git@github.com:robo-friends/m-explore-ros2.git
	branch = feature/slam_toolbox_compat
[submodule "src/m-explore-ros2"]
	path = src/m-explore-ros2
	url = git@github.com:robo-friends/m-explore-ros2.git
	branch = feature/slam_toolbox_compat
[submodule "src/turtlebot3_applications"]
	path = src/turtlebot3_applications
	url = git@github.com:ROBOTIS-GIT/turtlebot3_applications.git
	branch = humble
[submodule "src/turtlebot3_applications_msgs"]
	path = src/turtlebot3_applications_msgs
	url = git@github.com:ROBOTIS-GIT/turtlebot3_applications_msgs.git
	branch = humble
